---
layout: default
---

<article> 
{{ content }}
<p id="post-meta">
Posted on <small><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></small>
{% if post.category %}
 in <a href="/category/{{ post.category }}/">{{ post.category }}</a></span>
{% endif %}
{% if post.tags.size > 0 %}
 with 
    {% for post_tag in post.tags %}
      <a href="/tag/{{ post_tag }}/">{{ post_tag }}</a>
    {% endfor %}
{% endif %}
</p>
     {% include comments.html %}
</article>
